
h1 {
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(94, 4, 4);
    font-size: 50px;
    text-shadow: 5px 3px rgb(232, 222, 222);
    // background: linear-gradient(white,black);
    
}

p {
    font-family: "releway";
    text-align: justify;
}

.cont-header {
    background-image: url(../img/header-fondo.jpg);
    background-blend-mode: screen;
    background-color: hsl(0, 0, 20);
    background-size: cover;
    background-position: center;
}

.latinoamerica {
    display: flex;
    justify-content: center;
    color: white;
}

.input-form {
    display: none;
}

.header-nav {
    text-align: center;
    justify-content: center;
    color: aliceblue;
    font-size: 15px;
    background: linear-gradient(white,red);
    border-radius: 1cm;
    padding: 5px;



}

/* MIN-WIDTH index-html 600*/

/* ----HEADER-INDEX con Flexbox------- */
@media (min-width: 600px) {
    .input-form {
        display: flex;
        justify-content: right;
    }

    .cont-header {
        display: flex;
        flex-direction: column;
        height: 200px;
        padding: 15px;
    }

    .subh3-form {
        display: flex;
        justify-content: center;
        padding: 15px;
        gap: 80px;
    }

    .header-list {
        display: flex;
        justify-content: center;
        gap: 25px;

    }

    .h1 {
        font-size: 80px;
        justify-content: center;
    }
}

.header-championship {
    display: flex;
}

/*=====Pagina Noticias Header */
.header-noticias {
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(white,red)
    

}
.escudo-noticias {
    width: 80px;
    height: 80px;
}

.h2-noticias {

    color: white;
    font-size: 3em;
}


.header-plantilla {
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(white,red)

}

.h2plantilla {
    color: white;
    font-size: 3em;
}
.escudo-plantilla {
    width: 80px;
    height: 80px;
}

.header-socios {
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(white,red)

}

.h2socios {
    color: white;
    font-size: 3em;
}
.escudo-socios {
    width: 80px;
    height: 80px;
}

.contenedor-socios {
    display: flex;
    flex-direction: column;
}



.header-championship {
    background: linear-gradient(white,red
    );
  
   }
 
.titulo-championship {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    }

.logo-championship {
    height: 100px;
    width: 100%;
    object-fit: cover;

}
.header-championship {
    display: flex;
}
